
  * {
      margin: 0;
      padding: 0;
      outline: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }

  body {
      background: url(../img/b&w-scratch-texture.bmp) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color: #eee;
      -webkit-font-smoothing: antialiased;
      font-family: sans-serif;;
      font-size: 20px;
      height: 100%;
      text-rendering: optimizeLegibility;
  }

/*  p, h1, h2 {
    margin: 0px 0;
    text-align: left;
  }*/
  p {
     font-size: 1rem;
    line-height: 25px;
  }

  a {
    color: #eee;
    text-decoration: none;
  }
  a:hover {
    color: #e9f936;
  }

  a .open {
    color:  #d3d3d3;
  }

  .indent {
    margin-left: 10%;
  }
  .inner-shadow {
    -webkit-box-shadow: inset 10px 10px 30px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: inset 10px 10px 30px 0px rgba(0,0,0,0.57);
    box-shadow: inset 10px 10px 30px 0px rgba(0,0,0,0.57);
  }
  .drop-shadow {
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.57);
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.57);
  }


  #page-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: url(../img/octocat-spinner.gif) center no-repeat black;
  }
  #CV-lightbox {
    position: fixed;
    color: white;
    visibility: hidden;
    margin-top: -300px;
    margin-bottom: 50px;
    width: 90%;
    height: 100%;
    margin-right: 5%;
    margin-left: 5%;
  }

  #CV-lightbox h2 {
    color: white;
    margin-top: 40%;
    height: 20%;
  }
  #CV-lightbox iframe {
    margin-top: -60%;
    width: 100%;
    max-height: 600px;
    min-height: 400px;
  }
  #header {
    height: 200px;
  }

  #typed-title, #return {
    height: 50px;
  }



  #content {
    margin: 0%;
    margin-left: 10%;
    align-self: flex-end;
  }
  

  .section {
    display: flex;
    flex-flow: row nowrap;
    align-content: space-around;
    background: url(../img/b&w-scratch-texture.bmp) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover;
    min-height: 200px;
    width: 100%;
    display: none;
  }

  .item {
    size: 200px ;
  }

  #contact-buttons h2 {
    width: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #contact-buttons i {
    font-size: 30px;
  }
  #contact-buttons{
    margin: 0 0 20px 5%;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    

  }
  #footer {
  }

  #content, #return {
    display: none;
  }


@media only screen and (min-width: 500px) {


}
