<div id="home">
	<h2>
		{<br>
	</h2>
	<div id="profile" class="indent1">
	<h2>
		Description:
	</h2>
    <h3 id="desc" class="indent1"> 
    	'A web developer based in Wellington, New Zealand. I am passionate about building a more open internet. Inquiries welcome.',<br>
	</h3>
	</div>
	<h2 class="indent1">
		Detail: 
		<a id="CV-btn" ng-hide="onDesktop" href="pdf/CampbellHawkes-CV--23-5-16.pdf" class="button">
			C.V.
		</a>
		<a id="CV-lb-btn" ng-show="onDesktop" ng-click="go('/cv', '.CV')"href="" class="button hover-enlarge drop-shadow">
			C.V.
		</a>,
	</h2>
	<h2 class="indent1" id="portfolio-link">
			Projects: <a ng-click="go('/projects', '.projects')"> {...}</a> ,
		<br>
	</h2>
	<h2 class="indent1">
		Contact: [<br><br>
	</h2>
	<div id="contact-buttons" class="">
		<div class="contact-btn">
			<a href="https://github.com/Camcan">
				<i class="mdi mdi-github-circle hover-shadow hover-enlarge"></i>
				<p class="contact-detail">
					github.com/Camcan
				</p>
			</a>
			<h2>,</h2>
		</div>
		<div class="contact-btn">
			<a href="https://nz.linkedin.com/in/campbell-hawkes-1b557210b">
				<i class="mdi mdi-linkedin hover-shadow hover-enlarge"></i>
				<p class="contact-detail">
					/nz/campbell-hawkes
				</p>
			</a>
			<h2>,</h2>
		</div>
		<div class="contact-btn">
			<a href="https://twitter.com/letters_to_cam">
				<i class="mdi mdi-twitter hover-shadow hover-enlarge"></i>
				<p class="contact-detail">
					@letters_to_cam
				</p>
			</a>
			<h2>,</h2>
		</div>
		<div class="contact-btn">
			<a href="tel:+64278418623" >
				<i class="mdi mdi-cellphone-android  hover-shadow hover-enlarge"></i>
				<p class="contact-detail">
					027 841 8623
				</p>
			</a>
			<h2>,</h2>
		</div>
		<div class="contact-btn ">
			<a href="mailto:mr.campbell.hawkes@gmail.com" class="hover enlarge">
				<i class="mdi mdi-email hover-shadow hover-enlarge"></i>
				<p class="contact-detail">
					mr.campbell.hawkes@gmail.com
				</p>
			</a>
		</div>
	</div>
	<h2 class="indent1">
		]<br>
	</h2>
	<h2>
	  	}
	</h2>
</div>
