<h2 id="portfolio-link"ng-click="go('/projects', '.projects')">
			Projects: {
		<br>
</h2>
<div id="portfolio" ng-controller="projectsController">
	<div ng-repeat="(section, items) in projects">
		<h2></h2>
  		<h2 class="indent2">
	  		<a href="" class="button hover-enlarge hover-shadow" ng-click="viewSection(section)">
	  			'{{section}}' : {<span ng-hide="selectedSections.includes(section)">...}</span>
	  		</a><span ng-hide="selectedSections.includes(section)">,</span><br>
	  	</h2>
  		<div class="section inner-shadow collapse-hide" ng-show="selectedSections.includes('{{section}}')">
			<div ng-repeat="item in items track by $index" class="item">
				<a ng-click="select(item); go('projects/view', '.projects'+item.suffix)"
				>
				<!-- href="http://apexart.github.io" -->
			  		<img src="{{item.imgs[0]}}" class="drop-shadow hover-color">
		  		</a>
			  	<p class="tile-title">{{item.title}}</p>
			</div>
  		</div>
  		<h2 class="indent2" ng-show="selectedSections.includes(section)">},</h2>
  	</div>
</div>
<h2>}</h2>